
/* Display konusu start */

span {
    width: 60px;
    height: 60px;
    background-color: purple;
    display: inline-block;
}

.display-example {
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    display: inline;
    
}

/* Display konusu end */

/* Position konusu start */
    /* absolute start */
    .example-absolute {
        width: 400px;
        height: 300px;
        background-color:red;
    }
    .test-absolute {
        position: absolute;
        top: 179px;
        left: 79px;
        /*  */
    }
    /* absolute end */

    /* relative start */
    .example-relative {
        width: 500px;
        height: 500px;
        background-color: #ccc;
    }

    .example-relative div {
        width: 100px;
        height: 100px;
    }

    .example-relative div:nth-child(1) {
        background-color: salmon;
        position: relative;
    }
    .example-relative div:nth-child(2) {
        background-color: seagreen;
        
    }
    .example-relative div:nth-child(3) {
        background-color: slateblue;
        position: relative;
    }

    /* relative end */

/* Position konusu end */

